<h1 id="tableLabel">Fake teams</h1>

<p>Getting fake teams from REST API.</p>

<p *ngIf="!teams"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="teams">
  <thead>
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>City</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{ team.id }}</td>
      <td>{{ team.fullName }}</td>
      <td>{{ team.city }}</td>
      <td>{{ team.address }}</td>
    </tr>
  </tbody>
</table>
